.inlineAnnotator {
  margin: 0px 0px 4px 0px;
}

.tokens {
  padding: 20px;
}

.token {
  display: inline-block;
  padding: 3px 10px;
  margin: 0px 5px;
  font-size: 1.7em;

  ruby-align: distribute-space;
  ruby-overhang: auto;
  ruby-position: above;
}

:global {
  .annot_sj {
    background-color: rgb(250, 240, 240) !important;
  }
}
